@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 5rem;
}

.container {
  border-radius: 8px;
  display: flex;
  width: 64.5rem;
  height: 27.7rem;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
  margin-bottom: 5rem;
}

.text {
  width: 22rem;
  height: 20rem;
  color: white;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 5rem;
  margin-bottom: 2.5rem;


}

h1 {
  margin-bottom: 1.5rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.info {
  margin-top: 4rem;
  display: flex;

}

.t2 {
  margin-left: 4rem;
}

span {
  color: hsl(277, 64%, 61%);
}

.img {

  width: 33.5rem;
  height: 27.7rem;
  background: rgba(192, 96, 230, 0.987) url("images/image-header-desktop.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (max-width:1100px) {
  .container {
    flex-direction: column;
    width: 30rem;
    height: 54rem;
  }

  .text {
    position: absolute;
    top: 32rem;
  }
}

@media only screen and (max-width:600px) {

  .text {

    margin: -7rem 2rem;
    width: 16rem;
  }

  .container {
    text-align: center;
    width: 20rem;
    height: 52rem;
  }

  .img {
    margin-top: -5rem;
    margin-left: -40%;
    transform: scale(0.67);
    background: rgba(192, 96, 230, 0.987) url("images/image-header-mobile.jpg");

  }

  .info {
    flex-direction: column;
    justify-content: center;
  }

  .t1 {
    margin-bottom: 1.5rem;
  }

  .t2 {
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
}
